<div id="reg">
  <mat-card>

   <h1> Let's get started</h1>

  <p>  Try Vend free for 14 days. No credit card, no commitments.</p>

    <div id="parent" class="container">
      <form class="example-container">
        <mat-form-field class="example-full-width-x" appearance="outline">
          <mat-label>Enter Store Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width-x" appearance="outline">
          <mat-label>Enter Email</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width-x" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="first-last-name">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Enter First Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Enter Last Name</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width-x" appearance="outline">
          <mat-label>Enter your Phone Number</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width-x">
          <mat-label>Select a type of Business
          </mat-label>
          <mat-select >
            <mat-option *ngFor="let item of businessType" value="item">{{item}}</mat-option>
          </mat-select>
          <!-- <mat-hint>Group
          </mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width-x">
          <mat-label>Select number of Locations
          </mat-label>
          <mat-select >
            <mat-option *ngFor="let item of NumberOfLocations" value="item">{{item}}</mat-option>
          </mat-select>
          <!-- <mat-hint>Group
          </mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width-x">
          <mat-label>Select Estimated Annual Turnover
          </mat-label>
          <mat-select >
            <mat-option *ngFor="let item of Turnover" value="item">{{item}}</mat-option>
          </mat-select>
          <!-- <mat-hint>Group
          </mat-hint> -->
        </mat-form-field>
        <button mat-raised-button color="primary">Start Free Trial</button>
      </form>

    </div>

    </mat-card>

</div>
