.parent{
  padding-top:120px;

}
.sell{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
  padding-top: 10px;

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.example-card {
  max-width: 400px;
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

.sell-div-one{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 30px;
}

.sell-resuable-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 20px;

}

.example-card{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#mat-action-btn{
  text-align: center;
  /* margin: auto; */
}


