.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background: #eaebf0;
}

.sidenav .mat-toolbar {
  /* background: inherit; */
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* .mat-form-field + .mat-form-field {
  margin-left: 8px;
} */
/* .mat-expansion-panel{
  margin-top: 10;
} */

.nav-expansion-panel{
  background: #eaebf0;
}
.panel-title{
  /* color: #fff; */
  font-weight: 550;
  text-align: center;
}

.panel-a{
  /* color: #fff; */
  /* text-align: center; */
  font-size: 13px;
}

#my-class{
  width: 100%!important;
  min-width: unset!important;
  text-align: left !important;
  background: #eaebf0;
  color: #000;
  margin-top: 20px;
  height: 50px;
  padding-left: 30px !important;
}

#toolbar-nav {
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

