<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar  color="primary">OllaSystem</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a> -->

      <!-- ############################################# -->
      <button id="home-btn"  [routerLink]="['/home']" routerLinkActive="router-link-active"  id="my-class" mat-raised-button >Home</button>
      <mat-accordion>


       <div class="mt-3">
        <mat-expansion-panel class="nav-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
            Sell
            </mat-panel-title>
            <!-- <mat-panel-description>
            Sell
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <!-- <p>This is the primary content of the panel.</p> -->
          <a  class="panel-a"  mat-list-item [routerLink]="['/sell']" routerLinkActive="router-link-active" >Sell</a>
          <a  class="panel-a" mat-list-item [routerLink]="['/registerclosure']" routerLinkActive="router-link-active" >Open/Close</a>
          <a  class="panel-a" mat-list-item  [routerLink]="['/sale-history']" routerLinkActive="router-link-active" >Sale History</a>
          <a  class="panel-a" mat-list-item href="#">Fulfillments</a>
          <a  class="panel-a" mat-list-item href="#">Cash Management</a>
          <a  class="panel-a" mat-list-item href="#">Status</a>
          <a  class="panel-a" mat-list-item href="#">Settings</a>
        </mat-expansion-panel>
       </div>

       <div class="mt-3">
        <mat-expansion-panel class="nav-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
            Sell Ledger
            </mat-panel-title>
            <!-- <mat-panel-description>
            Sell
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <!-- <p>This is the primary content of the panel.</p> -->
          <a  class="panel-a"  mat-list-item href="#">Sell</a>
          <a  class="panel-a" mat-list-item href="#">Open/Close</a>
          <a  class="panel-a" mat-list-item href="#">Sale History</a>
          <a  class="panel-a" mat-list-item href="#">Fulfillments</a>
          <a  class="panel-a" mat-list-item href="#">Cash Management</a>
          <a  class="panel-a" mat-list-item href="#">Status</a>
          <a  class="panel-a" mat-list-item href="#">Settings</a>
        </mat-expansion-panel>
       </div>

       <div class="mt-3">
        <mat-expansion-panel class="nav-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
           Reporting
            </mat-panel-title>
            <!-- <mat-panel-description>
            Sell
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <!-- <p>This is the primary content of the panel.</p> -->
          <a  class="panel-a"  mat-list-item href="#">Sell</a>
          <a  class="panel-a" mat-list-item href="#">Open/Close</a>
          <a  class="panel-a" mat-list-item href="#">Sale History</a>
          <a  class="panel-a" mat-list-item href="#">Fulfillments</a>
          <a  class="panel-a" mat-list-item href="#">Cash Management</a>
          <a  class="panel-a" mat-list-item href="#">Status</a>
          <a  class="panel-a" mat-list-item href="#">Settings</a>
        </mat-expansion-panel>
       </div>
       <div class="mt-3">
        <mat-expansion-panel class="nav-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
            Product
            </mat-panel-title>
            <!-- <mat-panel-description>
            Sell
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <!-- <p>This is the primary content of the panel.</p> -->
          <a  class="panel-a"  mat-list-item [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</a>
          <a  class="panel-a" mat-list-item [routerLink]="['/stock-control']" routerLinkActive="router-link-active" >Stock Control</a>
          <a  class="panel-a" mat-list-item [routerLink]="['/inventory-counts']" routerLinkActive="router-link-active">Inventory Counts</a>
          <a  class="panel-a" mat-list-item  [routerLink]="['/promotions']" routerLinkActive="router-link-active" >Promotions</a>
          <a  class="panel-a" mat-list-item [routerLink]="['/price-books']" routerLinkActive="router-link-active" >Price Books</a>
          <a  class="panel-a" mat-list-item [routerLink]="['/product-types']" routerLinkActive="router-link-active" >Product Types</a>
          <a  class="panel-a" mat-list-item [routerLink]="['/suppliers']" routerLinkActive="router-link-active" >Suppliers</a>
          <a  class="panel-a" mat-list-item [routerLink]="['/brands']" routerLinkActive="router-link-active" >Brands</a>
          <a  class="panel-a" mat-list-item [routerLink]="['/product-tags']" routerLinkActive="router-link-active" >Product Tags</a>
        </mat-expansion-panel>
       </div>
       <div class="mt-3">
        <mat-expansion-panel class="nav-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
          Customers
            </mat-panel-title>
            <!-- <mat-panel-description>
            Sell
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <!-- <p>This is the primary content of the panel.</p> -->
          <a  class="panel-a"  mat-list-item href="#">Sell</a>
          <a  class="panel-a" mat-list-item href="#">Open/Close</a>
          <a  class="panel-a" mat-list-item href="#">Sale History</a>
          <a  class="panel-a" mat-list-item href="#">Fulfillments</a>
          <a  class="panel-a" mat-list-item href="#">Cash Management</a>
          <a  class="panel-a" mat-list-item href="#">Status</a>
          <a  class="panel-a" mat-list-item href="#">Settings</a>
        </mat-expansion-panel>
       </div>
       <div class="mt-3">
        <mat-expansion-panel class="nav-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
          Setup
            </mat-panel-title>
            <!-- <mat-panel-description>
            Sell
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <!-- <p>This is the primary content of the panel.</p> -->
          <a  class="panel-a"  mat-list-item href="#">Sell</a>
          <a  class="panel-a" mat-list-item href="#">Open/Close</a>
          <a  class="panel-a" mat-list-item href="#">Sale History</a>
          <a  class="panel-a" mat-list-item href="#">Fulfillments</a>
          <a  class="panel-a" mat-list-item href="#">Cash Management</a>
          <a  class="panel-a" mat-list-item href="#">Status</a>
          <a  class="panel-a" mat-list-item href="#">Settings</a>
        </mat-expansion-panel>
       </div>
      </mat-accordion>

      <!-- ###################################### -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="toolbar-nav" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Inventory</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content ></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
